@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>Exemplo de Ajax</title>
    @* Aqui eu adicionei a referencia ao script do jQuery *@
    <script src="~/Scripts/jQuery/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="~/Scripts/AjaxExemplo.js"></script>
    <script type="text/javascript">
        var teste = new AjaxExemplo(); // Esta é a chamada, para o arquivo que contém o Ajax do elemento
    </script>
</head>
<body>
    <a href="#" id="Link1">AJAX AQUI !!!</a>
</body>
</html>
